<% @cards.each do |card| %>
  <div class="card-list-item">
    <div class="right">
      <% if has_permissions(card.user.id) %>
        <a class='dropdown-button' href='#' data-activates='card-actions'><i class="material-icons right">arrow_drop_down</i></a>
        <ul id='card-actions' class='dropdown-content'>
          <li><%= link_to "View", card %></li>
          <li class="divider"></li>
          <li><%= link_to "Delete", card_path(card), method: :delete, data: { confirm: "Are you sure?" } %></li>
        </ul>
      <% end %>
    </div>

    <div class="media-object">
      <div class="media-object-section">
          <%= link_to(user_path(card.user)) do %>
            <%= image_tag card.user.image.url(:medium), class: "rounded profile-image", height: "48", width: "48" %>
          <% end %>
      </div>
      <div class="media-object-section full-width">
        <div class="card-meta">
          <%= link_to card.user.username, user_path(card.user) %> <span class="text-muted"><%= time_ago_in_words(card.created_at) %> ago</span>
        </div>
        <p class="card-text"><%= card.sentence %></p>
        <% if has_permissions(card.user.id) && card.translation.blank? %>
          <%= form_for(card, method: :put) do |f| %>
            <%= f.text_field :translation, placeholder: "Translation", autocomplete: "off" %>
            <%= f.submit "Add Translation", class: "btn" %>
          <% end %>
        <% else %>
          <div class="text-muted"><i class="material-icons inline-icon">language</i>&nbsp;<%= card.translation %></div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
