<% if signed_in? %>
<div class="row">
  <div class="col s12 m4">
    <div class="card">
      <div class="card-content">
        <ul>
          <li>
            <%= link_to(user_path(current_user)) do %>
              <%= image_tag current_user.image.url(:thumb), class: "rounded profile-image" %>
            <% end %>
          </li>
          <li><%= link_to current_user.username, user_path(current_user) %></li>
        </ul>

        <table>
          <thead>
            <tr>
              <th>Chats</th>
              <th>Followers</th>
              <th>Following</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= current_user.cards.count %></td>
              <td><%= link_to current_user.followers.count, followers_user_path(current_user) %></td>
              <td><%= link_to current_user.followed_users.count, following_user_path(current_user) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col sm12 m8">

    <div class="media-object card-list-item">
      <div class="media-object-section">
        <%= link_to(user_path(current_user)) do %>
          <%= image_tag current_user.image.url(:small), class: "rounded profile-image", height: "48", width: "48" %>
        <% end %>
      </div>
      <div class="media-object-section full-width">
        <%= form_for(@card) do |f| %>
          <%= f.text_field :sentence, placeholder: "What's new?", autocomplete: "off" %>
          <div class="right-align">
            <%= f.submit "Add", class: "btn" %>
          </div>
        <% end %>
      </div>
    </div>

    <% @cards.each do |card| %>
      <div class="card-list-item">
        <div class="right">
          <% if has_permissions(card.user.id) %>
            <%= link_to "Delete", card_path(card), method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
        </div>

        <div class="media-object">
          <div class="media-object-section">
              <%= link_to(user_path(card.user)) do %>
                <%= image_tag card.user.image.url(:medium), class: "rounded profile-image", height: "48", width: "48" %>
              <% end %>
          </div>
          <div class="media-object-section full-width">
            <div class="card-meta">
              <%= link_to card.user.username, user_path(card.user) %><span class="text-muted"> <%= time_ago_in_words(card.created_at) %> ago</span> <span class="text-muted"><%= link_to "View", card %></span>
            </div>
            <p class="card-text"><%= card.sentence %></p>
            <% if has_permissions(card.user.id) && card.translation.blank? %>
              <%= form_for(card, method: :put) do |f| %>
                <%= f.text_field :translation, placeholder: "Translation", autocomplete: "off" %>
                <%= f.submit "Add Translation", class: "btn" %>
              <% end %>
            <% else %>
              <div class="text-muted"><i class="material-icons inline-icon">language</i>&nbsp;<%= card.translation %></div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

  </div>

</div>

<% end %>
