<% if signed_in? %>
<div class="row">
  <div class="col s12 m4">
    <div class="card">
      <div class="card-content">
        <ul>
          <li>
            <%= link_to(user_path(current_user)) do %>
              <%= image_tag current_user.image.url(:thumb), class: "rounded profile-image" %>
            <% end %>
          </li>
          <li><%= link_to current_user.username, user_path(current_user) %></li>
        </ul>

        <table>
          <thead>
            <tr>
              <th>Chats</th>
              <th>Followers</th>
              <th>Following</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= current_user.cards.count %></td>
              <td><%= link_to current_user.followers.count, followers_user_path(current_user) %></td>
              <td><%= link_to current_user.followed_users.count, following_user_path(current_user) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col sm12 m8">

    <div class="container-mb-20">
      <%= form_for(@card) do |f| %>
        <%= f.text_field :sentence, placeholder: "What's new?", autocomplete: "off" %>
        <div class="right-align">
          <%= f.submit "Chat", class: "btn" %>
        </div>
      <% end %>
    </div>

    <h4>My Chats</h4>

    <%= render 'cards' %>

  </div>

</div>

<% end %>
