<% if signed_in? %>
<div class="row">
  <div class="col s12 m4">
    <div class="card">
      <div class="card-content">
        <ul>
          <li>
            <%= link_to(user_path(current_user)) do %>
              <%= image_tag current_user.image.url(:thumb), class: "rounded profile-image" %>
            <% end %>
          </li>
          <li><%= link_to current_user.username, user_path(current_user) %></li>
          <li><i class="material-icons inline-icon">chat_bubble</i>&nbsp;<b>Native Language:</b>&nbsp;<%= current_user.native_language.capitalize %></li>
          <li><i class="material-icons inline-icon">mode_edit</i>&nbsp;<b>Study Language:</b>&nbsp;<%= current_user.language_of_study.capitalize %></li>
        </ul>

        <table>
          <thead>
            <tr>
              <th>Cards</th>
              <th>Followers</th>
              <th>Following</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= current_user.cards.count %></td>
              <td><%= link_to current_user.followers.count, followers_user_path(current_user) %></td>
              <td><%= link_to current_user.followed_users.count, following_user_path(current_user) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="user-actions">
      <!-- Modal Trigger -->
      <a class="btn grey btn-block" href="#new-flashcard-modal">New FlashCard</a>

      <!-- Modal Structure -->
      <div id="new-flashcard-modal" class="modal">
        <div class="modal-content">
          <i class="material-icons modal-action modal-close right">close</i>
          <h4>Create New FlashCard</h4>
          <%= form_for @card, html: { multipart: true } do |f| %>
            <%= f.label :image %>
            <%= f.file_field :image %>
            <br>
            <%= f.text_field :body, placeholder: "Word or phrase", autofocus: true %>
            <%= f.text_field :translation, placeholder: "Translation (optional)", autocomplete: "off" %>
            <%= f.label :part_of_speech %><br>
            <%= f.select(:part_of_speech, t('part_of_speech').invert, {}, { class: "browser-default" }) %>
            <br>
            <div class="right-align">
              <%= f.submit "Add", class: "btn" %>
            </div>
          <% end %>
        </div>
      </div>

    </div>

    <%= render 'cards/cards_list' %>

    <%= link_to "View all", "#" %>

  </div>

  <div class="col sm12 m8">

    <!-- Modal Trigger -->
    <a class="btn btn-block" href="#new-journal-modal">New Journal</a>

    <!-- Modal Structure -->
    <div id="new-journal-modal" class="modal">
      <div class="modal-content">
        <i class="material-icons modal-action modal-close right">close</i>
        <h4>Create New Journal</h4>
        <%= form_for @journal, html: { multipart: true } do |f| %>
          <%= f.label :image %>
          <%= f.file_field :image %>
          <br>
          <%= f.text_field :title, placeholder: "Title (optional)", autofocus: true %>
          <%= f.text_area :body, placeholder: "Write your journal here in your target language", class: "materialize-textarea" %>
          <%= f.text_field :translation, placeholder: "Translation (optional)", autocomplete: "off" %>
          <div class="right-align">
            <%= f.submit "Add", class: "btn" %>
          </div>
        <% end %>
      </div>
    </div>

    <br>

    <%= render 'journals/journals_list' %>

  </div>

</div>

<% end %>
