<% @question_list ? @question_list : @question_list = current_user.question_lists.build %>

<%= form_for(@question_list) do |f| %>
  <% if @question_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_list.errors.count, "error") %> prohibited this question_list from being saved:</h2>

      <ul>
      <% @question_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn" %>
  </div>
<% end %>
