<div class="row">
  <!-- sidebar -->
  <div class="col sm12 m3">
    <div class="user-details">
      <div class="user-image">
        <%= image_tag @user.image.url(:medium), class: "circle" %>
      </div>
      <div class="user-info">
        <p><b><%= @user.username %></b></p>
      </div>
      <% unless !signed_in? || current_user?(@user) %>
        <div class="follow-form">
          <% if current_user.following?(@user) %>
            <%= render 'shared/unfollow' %>
          <% else %>
            <%= render 'shared/follow' %>
          <% end %>
        </div>
      <% end %>

      <% if has_permissions(@user.id) %>
        <div class="user-actions">
          <!-- Modal Trigger -->
          <a class="btn" href="#modal1">New Bucket</a>

          <!-- Modal Structure -->
          <div id="modal1" class="modal">
            <div class="modal-content">
              <i class="material-icons modal-action modal-close right">close</i>
              <h4>Create New Bucket</h4>
              <%= render 'question_lists/form' %>
            </div>
          </div>

        </div>
      <% end %>
    </div>
  </div>

  <!-- main-content -->
  <div class="col sm12 m9">
    <div class="question-lists-wrapper row" id="dragula-items-wrapper">
      <% @question_lists.each do |question_list| %>
        <div class="col s6 m4">
          <%= link_to(question_list) do %>
          <div class="card">
            <div class="card-image">
              <%= image_tag 'bgs/card-bg-1' %>
              <span class="card-title"><%= truncate(question_list.title, length: 30) %></span>
            </div>
            <div class="card-content" style="min-height: 84px;">
              <p><%= truncate(question_list.description, length: 45) %></p>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
