<div class="question-list-item">
  <div class="right">
    <%= link_to "Delete", question_list_question_list_item_path(@question_list,  question_list_item.id), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
  <%= link_to question_list_item.content, question_list_question_list_item_path(@question_list, question_list_item), class: "flow-text" %>
  <% if question_list_item.translation.nil? %>
    <%= form_for([@question_list, question_list_item], method: :put) do |f| %>
      <%= f.text_field :translation, placeholder: "Translation" %>
      <%= f.submit "Add Translation", class: "btn" %>
    <% end %>
  <% else %>
    <div><%= question_list_item.translation %></div>
  <% end %>
</div>
