<h1><%= @question_list_item.content %></h1>
<p class="text-muted"><%= @question_list_item.translation %></p>
<p><%= @question_list_item.notes %></p>

<%= link_to "edit", edit_question_list_question_list_item_path, class: "btn blue" %>

<div class="section">
  <p><%= link_to "back", @question_list %></p>
</div>