<% if has_permissions(@card.user.id) %>
<div class="right">
<a class='dropdown-button' href='#' data-activates='card-actions'><i class="material-icons">arrow_drop_down</i></a>
<ul id='card-actions' class='dropdown-content'>
  <li><%= link_to "Edit Card", "#edit-card-modal", class: "flat-btn" %></li>
  <li class="divider"></li>
  <li><%= link_to "Delete", card_path(@card), method: :delete, data: { confirm: "Are you sure?" } %></li>
</ul>
</div>
<% end %>

<h1><%= @card.sentence %></h1>

<div class="container-mb-20 list-item-property">
  <p class="word-break text-muted list-item-content"><i class="material-icons inline-icon">language</i>&nbsp;<%= !@card.translation.blank? ? @card.translation : 'Add translation' %></p>
  <%= form_for(@card, method: :put) do |f| %>
    <%= f.text_field :translation, placeholder: "Translation", autocomplete: "off", class: "list-item-input" %>
    <%= f.submit "Save", class: "btn" %>
    <button class="cancel-form-submission btn-flat" onclick="return false;">Cancel</button>
  <% end %>
</div>

<!-- Edit card Modal -->
<div id="edit-card-modal" class="modal">
  <div class="modal-content">
    <i class="material-icons modal-action modal-close right">close</i>
    <h4>Edit Card</h4>
    <%= render 'edit_card_form.html' %>
  </div>
</div>

<script>
  $('.list-item-content').on('click', function() {
    var $this = $(this);
    var $listItem = $this.parent();
    var $editInput = $this.siblings('form').find('.list-item-input');
    $listItem.addClass('edit-mode');
    $editInput.focus();
  });

  $('.cancel-form-submission').on('click', function() {
    var $this = $(this);
    var $listItem = $this.parent().parent();
    $listItem.removeClass('edit-mode');
  });
</script>
